<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect - About Us</title>
    <link rel="stylesheet" href="../static/css/styles.css"> 
</head>
<body>
    <header>
        <h1>MedConnect</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/choice">Patient Portal</a></li>
            </ul>
        </nav>
    </header>

    <section id="description">
        <h2>MedConnect: Bridging Health and Community Since 2019</h2>
        <div class="divider"></div>

        <div class="picture">
            <img src="./static/assets/family.png" alt="family">
        </div>
        <div class="divider"></div>
        <div class="summary">
            
            <p>In the dynamic landscape of healthcare, MedConnect emerged in 2019 with a visionary mission - to connect communities to top-grade healthcare services. Founded on the belief that everyone deserves access to quality healthcare, MedConnect has been tirelessly working to bridge the gap between patients and doctors. From its inception, MedConnect has dedicated itself to providing a seamless healthcare experience for individuals and families. The commitment to fostering a healthier community has driven MedConnect to embrace innovative technologies, compassionate medical professionals, and patient-centric practices.</p>
            <div class="divider"></div>
            <p>Our journey began with a simple yet profound goal: to make healthcare accessible, reliable, and patient-friendly. Through the years, MedConnect has grown into a trusted healthcare partner, striving to enhance the well-being of our community by delivering top-notch medical services and creating a network that prioritizes the health and happiness of every individual we serve.</p>
            <div class="divider"></div>
            <p>At MedConnect, we believe in the power of connection, where every patient becomes a part of our extended family. As we continue to evolve, our commitment to excellence remains unwavering, and our vision of a healthier, connected community guides us forward.</p>
        </div>
        <div class="divider"></div>
        <div class="motto">
            <p>MedConnect - Where Your Health Finds its Home.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 MedConnect. All rights reserved.</p>
    </footer>
</body>
</html>