<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect - Sign Up / Log In</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Link to your external CSS file for styling -->
</head>
<body>
    <header>
        <h1>MedConnect</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/choice">Patient Portal</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="login-signup">
      <h2>Patient Portal</h2>
        <div class="divider"></div>
        <div class="user">
        <div class="user-option1">
            <h3>Doctor</h3>
            <div class="divider"></div>
            <p>Welcome! Please sign up or log in to access employee dashboard.</p>
            <div class="divider"></div>
            <button onclick="location.href='/doctor-signup'">Sign Up</button>
            <div class="divider"></div>
            <button onclick="location.href='/doctor-login'">Log In</button>
        </div>
        <img src="./static/assets/patient.png" alt="logo2">
        <div class="user-option2">
            <h3>Patient</h3>
            <div class="divider"></div>
            <p>Welcome! Please sign up or log in to access patient dashboard.</p>
            <div class="divider"></div>
            <button onclick="location.href='/signup'">Sign Up</button>
            <div class="divider"></div>
            <button onclick="location.href='/login'">Log In</button>
        </div>
        
    </div>
    </section>

    <footer>
        <p>&copy; 2023 MedConnect. All rights reserved.</p>
    </footer>
</body>
</html>