<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Dashboard</title>
</head>

<body>
    <nav>
        <a href="/">MedConnect</a>
        <li>
            <ul><a href="/">Menu</a></ul>
            <ul><a href="/">Reports</a></ul>
            <ul><a href="/">Schedule</a></ul>
            <ul><a href="/">Logout</a></ul>
        </li>
    </nav>
</body>

</html>